/src/FrameWork/FrameWork.Application/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/src/FrameWork/FrameWork.Domain/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/src/FrameWork/FrameWork.Application/Class1.cs
/src/FrameWork/FrameWork.Domain/Class1.cs
/src/FrameWork/FrameWork.Application/obj/Debug/net9.0/FrameWork.Application.AssemblyInfo.cs
/src/FrameWork/FrameWork.Application/obj/Debug/net9.0/FrameWork.Application.AssemblyInfoInputs.cache
/src/FrameWork/FrameWork.Application/obj/Debug/net9.0/FrameWork.Application.assets.cache
/src/FrameWork/FrameWork.Application/FrameWork.Application.csproj
/src/FrameWork/FrameWork.Application/obj/FrameWork.Application.csproj.nuget.dgspec.json
/src/FrameWork/FrameWork.Application/obj/FrameWork.Application.csproj.nuget.g.props
/src/FrameWork/FrameWork.Application/obj/FrameWork.Application.csproj.nuget.g.targets
/src/FrameWork/FrameWork.Application/obj/Debug/net9.0/FrameWork.Application.GeneratedMSBuildEditorConfig.editorconfig
/src/FrameWork/FrameWork.Application/obj/Debug/net9.0/FrameWork.Application.GlobalUsings.g.cs
/src/FrameWork/FrameWork.Domain/obj/Debug/net9.0/FrameWork.Domain.AssemblyInfo.cs
/src/FrameWork/FrameWork.Domain/obj/Debug/net9.0/FrameWork.Domain.AssemblyInfoInputs.cache
/src/FrameWork/FrameWork.Domain/obj/Debug/net9.0/FrameWork.Domain.assets.cache
/src/FrameWork/FrameWork.Domain/FrameWork.Domain.csproj
/src/FrameWork/FrameWork.Domain/obj/FrameWork.Domain.csproj.nuget.dgspec.json
/src/FrameWork/FrameWork.Domain/obj/FrameWork.Domain.csproj.nuget.g.props
/src/FrameWork/FrameWork.Domain/obj/FrameWork.Domain.csproj.nuget.g.targets
/src/FrameWork/FrameWork.Domain/obj/Debug/net9.0/FrameWork.Domain.GeneratedMSBuildEditorConfig.editorconfig
/src/FrameWork/FrameWork.Domain/obj/Debug/net9.0/FrameWork.Domain.GlobalUsings.g.cs
/src/FrameWork/FrameWork.Application/obj/project.assets.json
/src/FrameWork/FrameWork.Domain/obj/project.assets.json
/src/FrameWork/FrameWork.Application/obj/project.nuget.cache
/src/FrameWork/FrameWork.Domain/obj/project.nuget.cache
/src/FrameWork/FrameWork.Application/obj/project.packagespec.json
/src/FrameWork/FrameWork.Domain/obj/project.packagespec.json
/src/FrameWork/FrameWork.Application/obj/rider.project.restore.info
/src/FrameWork/FrameWork.Domain/obj/rider.project.restore.info
